body{
    background-color:white;
    color: black;
    margin:0px;
    font-family: Raleway;
  }
  img{
    width:100%;
    
  }
  h1{
    background:gray;
    text-align:centre;
    color: #fff;
    position: relative; 
    top: -100px; 
  }
  h2{
    color:gray;
  }
  .lead {
    background-color:yellowgreen;
    color:#444;
    margin:10px;
    font weight:700;
    font-size: 1.3em; 
  line-height: 1.5em;
    padding:10px;
    margin-top:_30px
      
  }
  
  table{
     width: 92%;
    margin-left: auto;
    margin-right: auto
  }
  table, tr, th, caption {
     border: 1px solid #666; 
    border-collapse: collapse;}
  caption{
     text-align: center;
    text-transform: uppercase;
    font weight:700;
  }
  th {
    background-color:
  white;
    font-color:#666;
    
  } 
  footer {
    text-alignment:centre;
     font-size: 12px;
  }
  a {
    color:light blue;
  }
  a:hover{
    color:green
    
  }
